body {
	font-family: "Source Han Serif SC", "Noto Serif CJK SC",
	"Liberation Serif", "Palatino Linotype", "STZhongSong",
	"FZShuSong-Z01S", "FZSong", "STSong", serif;
}

i, q {
	font-family: "Gabriola", "FZKai-Z03S", "Adobe Kaiti Std",
	"STKaiti", "SimKai", serif;
	font-style: normal;
}

b, strong {
    font-weight: bold;
}

q:before {
    content: "「"
}

q:after {
    content: "」";
}

em {
    position: relative;
    font-weight: inherit;
    font-style: normal;
}

em:after {
    position: absolute;
    top: 0.65em;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";
}

u {
    text-decoration: none;
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}