div.coverbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.coverboxinnerleft {
	width: 42%;
	text-align: center;
	filter: drop-shadow(0 0 2em white);
}

div.coverboxinnerleft > img {
	width: 100%;
}

div.coverboxinnerright {
	padding: 1em;
	font-size: 120%;
	line-height: 1.4em;
	width: 46%;
}

div.division {
	margin: 1em 0 1em 0;
	--boxthemecolor: #808080;
}

div.divisiontitle {
	display: inline-block;
	border-radius: 1em 60% 0.25em 0;
	padding: .3em 1.25em .3em 1em;
	font-size: 120%;
	font-weight: 500;
	width: auto;
	margin: auto;
	background-color: var(--boxthemecolor);
	color: white;
}

div.divisionbody {
	border-width: 0.05em 0.1em 0.2em 0.1em;
	border-style: dashed solid solid solid;
	border-color: var(--boxthemecolor);
	border-radius: 0 .5em .5em .5em;
	padding: .3em;
}

.divisionbody > table {
	width: 100%;
}

.divisionbody > table td:first-child {
	width: 25%;
	text-align: center;
}

.divisionbody > table td:first-child > div {
	display: inline-block;
	position: relative;
	font-weight: 500;
	font-family: var(--sans-set);
	line-height: 1em;
	padding: 0.3em 0.5em;
	margin-right: 1.2em;
	background-color: var(--maincolor);
	border-width: 1pt 0 1pt 1pt;
	border-color: white;
	border-style: solid;
	color: var(--secondcolor);
	z-index: 4;
}

.divisionbody > table td:first-child > div:after {
	display: inline-block;
	position: absolute;
	left: calc(100% - 0.8em / sqrt(2));
	top: calc(0.24em - 0.5pt);
	height: calc(1.6em / sqrt(2));
	width: calc(1.6em / sqrt(2));
	content: "";
	background-color: var(--maincolor);
	border-width: 1pt 1pt 0 0;
	border-color: white;
	border-style: solid;
	transform: rotate(45deg);
	z-index: -1;
}

.divisionbody > table td:nth-child(2) {
	width: 55%;
}

.divisionbody > table td:nth-child(3) {
	width: 20%;
}

.nocontentfiller {
	display: inline-block;
	margin: auto;
	font-size: 90%;
	color: #404040;
	font-style: italic;
}