div.coverbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.coverboxinnerleft {
	width: 42%;
	text-align: center;
	filter: drop-shadow(0 0 2em white);
}

div.coverboxinnerleft > img {
	width: 100%;
}

div.coverboxinnerright {
	padding: 1em;
	font-size: 120%;
	line-height: 1.4em;
	width: 46%;
}

div.division {
	margin: 1em 0 1em 0;
	--boxthemecolor: #808080;
}

div.divisiontitle {
	display: inline-block;
	border-radius: 1em 60% 0.25em 0;
	padding: .3em 1.25em .3em 1em;
	font-size: 120%;
	font-weight: 500;
	width: auto;
	margin: auto;
	background-color: var(--boxthemecolor);
	color: white;
}

div.divisionbody {
	border-width: 0.05em 0.1em 0.2em 0.1em;
	border-style: dashed solid solid solid;
	border-color: var(--boxthemecolor);
	border-radius: 0 .5em .5em .5em;
	padding: .3em;
}

.nocontentfiller {
	display: inline-block;
	margin: auto;
	font-size: 90%;
	color: #404040;
	font-style: italic;
}