[colortheme="roman"] {
	--maincolor: #6a1943;
	--secondcolor: #fbeaad;
}

[colortheme="culinary"] {
	--maincolor: #3b5f38;
	--secondcolor: #e8d792;
}

[colortheme="nebty"] {
	--maincolor: #ef6baf;
	--secondcolor: #7ff5c4;
}

[colortheme="aux"] {
	--maincolor: #6a7479;
	--secondcolor: #d7d5cb;
}

[colortheme="phonetics"] {
	--maincolor: #b5c4c1;
	--secondcolor: #5a6767;
}