:root {
    --deep-purple: #4b3552;
    --vivid-purple: #804058;
    --inactive-grey: #726469;
    --wheat: #dbac7d;
    --wheat-44: rgba(219, 172, 125, .2656);
    --shadow-brown-80: rgba(70, 55, 45, .5);
    --shadow-brown-30: rgba(70, 55, 45, .1875);
}

body {
	background-color: var(--wheat);
}

div#main, h1, h2 {
	font-family: "Liberation Serif", "Palatino Linotype",
	"Palatino", "Source Han Serif SC", "Noto Serif CJK SC",
	"STZhongSong", "FZShuSong-Z01S", "FZSong", "STSong", serif;
}

h3, a, b, div.asterism, div.back_shell, div.warningheader,
div.severewarningheader, div.contentblock > .content, figcaption {
	font-family: "Myriad Pro", "Segoe UI", "Source Han Sans SC",
	"Noto Sans CJK SC", "Lantinghei SC", "PingFang SC",
	"Microsoft YaHei", sans-serif;
}

div#main {
	line-height: 1.6em;
	/*letter-spacing: 0.2em;*/
	background-color: #f8f0e0;
	font-weight: 500;
	width: 48em;
	margin: auto;
	padding: 3em 5em 3em 5em;
	box-shadow: .2em .2em .8em var(--shadow-brown-80);
	text-align: justify;
}

.ipa {
	font-family: "Gentium Plus", "DejaVu Sans", "Lucida Sans Unicode",
	sans-serif;
	font-variant-ligatures: no-common-ligatures;
	margin: 0 .2em 0 .2em;
}

sup, sub {
	line-height: 1em;
}

div.back_shell {
	display: inline-block;
	width: 8em;
	height: 10em;
	padding: 1em;
	overflow: hidden;
	background-color: #f8f8f880;
	border-radius: 1em;
	position: fixed;
	top: 1cm;
	left: 1cm;
	cursor: pointer;
	text-align: center;
	color: var(--vivid-purple);
}

a:link {
	color: var(--vivid-purple);
	text-decoration: none;
	border-bottom: .1em dotted;
}

a:visited {
	color: var(--inactive-grey);
	text-decoration: none;
	border-bottom: .1em dotted;
}

a:hover {
	color: var(--inactive-grey);
	text-decoration: none;
	border-bottom: .1em solid;
}

a:active {
	color: var(--inactive-grey);
	text-decoration: none;
	border-bottom: .1em solid;
	background-color: var(--wheat-44);
}

h1 {
	font-weight: 600;
	text-align: center;
	font-size: 240%;
}

h2 {
	font-weight: 600;
	text-align: center;
	font-size: 180%;
}

h3 {
	font-weight: 600;
	font-size: 140%;
	color: var(--deep-purple);
	margin-bottom: .75em;
}

h1.frontpage {
	color: var(--deep-purple);
	text-indent: .333em;
	letter-spacing: .333em;
	margin-bottom: 1.5em;
}

h3.frontpage {
	color: var(--vivid-purple);
	font-size: 150%;
	margin: 2em 0 0 0;
	text-align: center;
	text-indent: .2em;
	letter-spacing: .2em;
}

div.entry {
	background-color: var(--wheat);
	background-size: contain;
	background-repeat: no-repeat;
	margin: .5em;
	padding: .8em;
	border-radius: .8em;
	width: 9em;
	height: 16em;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	box-shadow: .1em .1em .3em var(--shadow-brown-30);
}

span.asterism {
	padding-left: 5em;
	border-bottom: .1em solid var(--vivid-purple);
}

div.entry > div.filling {
	height: 10.5em;
}

div.entry > span {
	font-size: 120%;
	font-weight: 600;
	color: white;
	text-shadow: 0 0 .2em var(--shadow-brown-80);
}

div.coverbox {
	margin-top: 5em;
	margin-bottom: 5em;
	display: flex;
	justify-content: center;
}

div.coverbox > img {
	width: 50%;
	filter: drop-shadow(0 0 2em white);
}

table.contents {
	margin: auto;
}

abbr {
	background-color: var(--wheat-44);
	text-decoration: none;
	border-radius: .1em;
	padding: 0 .1em 0 .1em;
}

abbr:after {
	content: "[hover]";
	color: #46372d;
	vertical-align: super;
	font-size: 60%;
}

div.zh_text abbr:after {
	content: "[悬浮]";
	color: #46372d;
	vertical-align: super;
	font-size: 60%;
}

b {
	font-weight: 700;
}

b.plain {
	font-weight: inherit;
}

div.zh_text q:before {
    content: "「"
}

div.zh_text q:after {
    content: "」";
}

div.zh_text em {
    position: relative;
    font-weight: inherit;
    font-style: normal;
}

div.zh_text em:after {
    position: absolute;
    top: .65em;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";
}

div.zh_text u {
    text-decoration: none;
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

div.zh_text span.lit {
    text-decoration: underline wavy;
}

div.zh_text p {
	text-indent: 2em;
}

div.contentblock {
	text-align: justify;
	background-color: var(--wheat-44);
	padding: .6em 1em .6em 1em;
	margin: .5em 0 .5em 0;
}

div.contentblock > .content {
	font-size: 90%;
	line-height: 1.4em;
	text-indent: 2em;
}

div.warningheader, div.severewarningheader {
	font-size: 120%;
	line-height: 1.2em;
	margin: .2em 0 .2em 0;
	padding: 0 0 0 .4em;
	color: var(--vivid-purple);
	font-weight: 600;
	border-left: .3em solid var(--vivid-purple);
}

div.warningheader:before {
	content: "🧭 ";
}

div.severewarningheader:before {
	content: "🎛️ ";
}