.formula {
	text-align: center;
	background-color: var(--wheat-44);
	padding: .6em 0 .6em 0;
}

span.frac {
	display: inline-block;
	white-space: nowrap;
	vertical-align: -.5em;
	text-align: center;
	font-size: 85%;
}

span.frac > .denominator, .frac > .numerator {
	display: block;
	line-height: 1em;
	margin: 0 .1em 0 .1em;
}

span.frac > .denominator {
	border-top: 1px solid;
}

.formula, .formula b {
	font-family: "Liberation Serif", "Palatino Linotype",
	"Palatino", "Source Han Serif SC", "Noto Serif CJK SC",
	"STZhongSong", "FZShuSong-Z01S", "FZSong", "STSong", serif;
}

b.vec {
	font-style: italic;
}