table.decl, table.common {
	border-spacing: .2em;
	color: #4b3552;
}
table.decl th, table.decl td, table.common th, table.common td {
	text-align: center;
	width: 7em;
}
table.decl th, table.common th {
	background-color: #dbac7d44;
}
table.decl td, table.common td {
	font-family: "Myriad Pro", "Segoe UI", sans-serif;
	border-bottom: .1em solid #dbac7d44;
}